
back/tt-base/tt-base/target/

back/tt-manage/target/

back/tt-prize/tt-prize/target/

back/tt-base/tt-base/\.idea/inspectionProfiles/Project_Default\.xml

back/tt-manage/\.idea/

front/lottery/\.idea/

front/drawadmin/system/

front/drawadmin/system.zip
