<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt.manage.mapper.CodeDrawRefVipMapper">
    <resultMap id="BaseResultMap" type="com.tt.manage.entity.CodeDrawRefVip">
        <id column="ref_id" property="refId" jdbcType="CHAR"/>
        <result column="code" property="code" jdbcType="BIGINT"/>
        <result column="draw_digit" property="drawDigit" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    ref_id, code, draw_digit
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from code_draw_ref_vip
        where ref_id = #{refId,jdbcType=CHAR}
    </select>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.tt.manage.entity.CodeDrawRefVip">
        select
        <include refid="Base_Column_List"/>
        from code_draw_ref_vip
        <where>
            <if test="refId != null">
                ref_id = #{refId,jdbcType=CHAR}
            </if>
            <if test="code != null">
                and code = #{code,jdbcType=BIGINT}
            </if>
            <if test="drawDigit != null and drawDigit!='' ">
                and draw_digit = #{drawDigit,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from code_draw_ref_vip
    where ref_id = #{refId,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.tt.manage.entity.CodeDrawRefVip">
    insert into code_draw_ref_vip (ref_id, code, draw_digit
      )
    values (#{refId,jdbcType=CHAR}, #{code,jdbcType=BIGINT}, #{drawDigit,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.tt.manage.entity.CodeDrawRefVip">
        insert into code_draw_ref_vip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refId != null">
                ref_id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="drawDigit != null">
                draw_digit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refId != null">
                #{refId,jdbcType=CHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=BIGINT},
            </if>
            <if test="drawDigit != null">
                #{drawDigit,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tt.manage.entity.CodeDrawRefVip">
        update code_draw_ref_vip
        <set>
            <if test="code != null">
                code = #{code,jdbcType=BIGINT},
            </if>
            <if test="drawDigit != null">
                draw_digit = #{drawDigit,jdbcType=VARCHAR},
            </if>
        </set>
        where ref_id = #{refId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tt.manage.entity.CodeDrawRefVip">
    update code_draw_ref_vip
    set code = #{code,jdbcType=BIGINT},
      draw_digit = #{drawDigit,jdbcType=VARCHAR}
    where ref_id = #{refId,jdbcType=CHAR}
    </update>

    <update id="updateByDrawDigit" parameterType="com.tt.manage.entity.CodeDrawRefVip">
    update code_draw_ref_vip
    set code = #{code,jdbcType=BIGINT}
    where draw_digit = #{drawDigit,jdbcType=VARCHAR}
  </update>

    <select id="getDrawDigitByCode" resultType="string" parameterType="long">
    SELECT draw_digit
    FROM code_draw_ref_vip
    where code &lt;= #{code,jdbcType=BIGINT}
    ORDER BY  code desc
    limit 1
  </select>

    <select id="selectCodeDrawRefList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from code_draw_ref_vip
        ORDER BY CASE
        WHEN draw_digit = '个位' THEN '1'
        WHEN draw_digit = '十位' THEN '2'
        WHEN draw_digit = '百位' THEN '3'
        WHEN draw_digit = '千位' THEN '4'
        WHEN draw_digit = '万位' THEN '5'
        WHEN draw_digit = '十万位' THEN '6'
        WHEN draw_digit = '百万位' THEN '7'
        ELSE draw_digit END ASC
    </select>

</mapper>