<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>抽奖页面</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <style>
        .logo {
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url(./imgs/logo.jpg) center no-repeat;
            background-size: contain;
        }
        nav {
            display: inline-block;
        }
        nav ul, nav li {
            list-style: none;
            float: left;
        }
        a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <a href="" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="#">网站首页</a></li>
                    <li><a href="#">客服</a></li>
                    <li><a href="#">中奖查询</a></li>
                    <li><a href="#">活动规则</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </nav>
        </header>
        <div class="banner"></div>
        <div class="lottery">
            <div class="lg-title">抽奖活动</div>
        </div>
        <div class="query-area">
            <div class="lg-title">中奖查询</div>
            <div class="res-list">
                <div class="item">
                    <span class="point"></span>
                    <span class="nick-name">梦想的声音</span>
                    <span class="phone">130****7397</span>
                    <span class="result">抽中100元红包</span>
                    <span class="date">2020/07/15</span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

    </script>
</body>
</html>